<div class="header clearfix">
  <nav>
    <a class="navbar-brand logo" href="/">
      <img src="/img/next1.png" alt="">
    </a>
    <ul class="nav nav-pills float-xs-right rightNav">
      <li class="nav-item">
        <a class="nav-link " href="#">Consulting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
    </ul>
  </nav>
</div>