<div class="header clearfix">
  <nav>
    <a class="navbar-brand logo" href="/">
      <img src="/img/next1.svg" alt="">
    </a>
    <ul class="nav nav-pills float-xs-right rightNav">
      <li class="nav-item">
        <a class="nav-link " href="/consulting">Consulting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </nav>
</div>