<div class="header clearfix">
  <div class="container">
    <nav>
      <a class="navbar-brand logo" href="/">
        <!-- <img src="/img/next1.svg" alt=""> -->
        True Disruption
      </a>
      <ul class="nav nav-pills float-xs-right rightNav">
        <li class="nav-item">
          <a class="nav-link  <% if (page_name === 'consulting') { %>active<% } %>" href="/consulting">Consulting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  <% if (page_name === 'reports') { %>active<% } %>" href="/">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (page_name === 'about') { %>active<% } %>" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (page_name === 'contact') { %>active<% } %>" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
