body {
  font-family: 'Lato', sans-serif;
}
.container {
  max-width: 1224px;
}
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #ccc;
  text-transform: uppercase;
}
.header .rightNav {
  padding-top: 16px;
}
.header .rightNav a {
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-transform: none;
}
.header .rightNav a.active {
  background-color: transparent !important;
  color: #00efc1 !important;
}
.header .rightNav a:hover {
  text-decoration: underline;
}
.logo img {
  width: 150px;
}
.welcome {
  margin-top: 3rem;
  text-align: center;
}
.welcome h1 {
  font-size: 3.5rem;
  font-weight: 900;
}
.welcome h2 {
  font-size: 1.85rem;
  font-weight: 700;
}
.welcome .reportContainer {
  width: 960px;
  margin: 0 auto;
}
.welcome .reports {
  margin-top: 3rem;
}
.welcome .reports .reportHolder {
  width: 350px;
  background-color: #ebebeb;
  padding: 10px;
  margin: 0 auto;
}
.welcome .reports .reportHolder img {
  display: block;
  width: 100%;
  max-height: 472px;
}
.welcome .reports .reportHolder.iothover {
  background-color: #62c7f5;
}
.welcome .reports .reportHolder.aihover {
  background-color: #00efc1;
}
.welcome .reports .reportHolder.iot:hover {
  background-color: #62c7f5;
}
.welcome .reports .reportHolder.ai:hover {
  background-color: #00efc1;
}
.welcome .reports p {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-weight: 700;
  font-size: 1rem;
}
.welcome .reports .price {
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 1rem;
  font-size: 14px;
}
.descriptionBlock {
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: whitesmoke;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  display: block;
}
.blueDescriptionBlock {
  margin-top: 3rem;
  background-color: #62c7f5;
  text-align: center;
  display: block;
  position: relative;
  padding: 3rem;
}
.blueDescriptionBlock .blockText {
  font-size: 32px;
  font-weight: 400;
  color: white;
}
.blueDescriptionBlock .previewReport {
  display: inline-block;
  width: 137px;
  height: 200px;
  position: absolute;
  top: -30px;
  top: -70px;
  right: 170px;
}
.blueDescriptionBlock .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.2rem;
}
.blueDescriptionBlock .close i {
  color: black;
}
.roundBtn {
  margin-top: 1rem;
  border-radius: 3px;
  padding: 0.9rem 5rem;
  border: 0 !important;
  font-size: 20px;
  font-weight: 700;
}
.roundBtn.blue {
  background-color: #008ae0;
}
.roundBtn.blue:hover {
  background-color: rgba(0, 138, 224, 0.7) !important;
}
.roundBtn.blue.hover {
  background-color: rgba(0, 138, 224, 0.7) !important;
}
.roundBtn.green {
  background-color: #13ce89;
}
.roundBtn.green:hover {
  background-color: rgba(19, 206, 137, 0.7) !important;
}
.roundBtn.green.hover {
  background-color: rgba(19, 206, 137, 0.7) !important;
}
.roundBtn.large {
  padding: 1.0rem 6rem;
}
.iotReport {
  width: 465px;
  background-color: #ebebeb;
  padding: 10px;
  margin: 0 auto;
}
.iotReport img {
  display: block;
  width: 100%;
}
.iotReport.iothover {
  background-color: #62c7f5;
}
.iotReport.aihover {
  background-color: #00efc1;
}
.iotReport.iot:hover {
  background-color: #62c7f5;
}
.iotReport.ai:hover {
  background-color: #00efc1;
}
.intro {
  text-align: left;
  border: 1px solid #ccc;
  padding: 1rem;
}
.intro .title {
  font-size: 24px;
  font-weight: 900;
}
.whatsInside {
  margin-top: 3rem;
  text-align: center;
}
.whatsInside h3 {
  font-size: 3.75rem;
  font-weight: 700;
}
.whatsInside p {
  margin-top: 3rem;
  text-align: justify;
  font-size: 1.5rem;
}
.startupMatrix {
  margin-top: 3rem;
  background-color: black;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.startupMatrix h3 {
  font-size: 3.75rem;
  font-weight: 700;
  color: white;
}
.startupMatrix p {
  padding-left: 3rem;
  padding-right: 3rem;
  color: white;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: justify;
  font-size: 1.5rem;
}
.startupMatrix table {
  background-color: black;
  text-align: left;
}
.startupMatrix table th {
  border: 1px solid white !important;
}
.startupMatrix .table-inverse td,
.startupMatrix .table-inverse th,
.startupMatrix .table-inverse thead th {
  border-color: white !important;
}
