body {
  font-family: 'Lato', sans-serif;
  background-color: rgba(241, 241, 241, 0.25);
}
.container {
  max-width: 1224px;
}
.header {
  padding-bottom: 1rem;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #fff;
}
.header:before {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  height: .05rem;
  background: #ccc;
  content: '';
}
.header .rightNav {
  padding-top: 1rem;
}
.header .rightNav a {
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-transform: none;
}
.header .rightNav a.active {
  background-color: transparent !important;
  text-decoration: underline;
  color: black;
}
.header .rightNav a:hover {
  text-decoration: underline;
}
.header .rightNav a:last-child {
  padding-right: 0;
}
.logo {
  padding-top: 1.1rem;
  color: #373a3c;
  font-weight: 700;
}
.logo img {
  width: 245px;
}
.logo:hover {
  color: black;
}
.welcome {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 3rem;
  text-align: center;
}
.welcome h1 {
  font-size: 3.5rem;
  font-weight: 900;
}
.welcome h2 {
  font-size: 1.85rem;
  font-weight: normal;
}
.welcome .reportContainer {
  width: 960px;
  margin: 0 auto;
}
.welcome .reportsList {
  margin-top: 3rem;
}
.welcome .reportsList .reportHolder {
  width: 350px;
  background-color: #ebebeb;
  padding: 10px;
  margin: 0 auto;
}
.welcome .reportsList .reportHolder img {
  display: block;
  width: 100%;
  max-height: 472px;
}
.welcome .reportsList .reportHolder.iothover {
  background-color: #62c7f5;
}
.welcome .reportsList .reportHolder.aihover {
  background-color: #00efc1;
}
.welcome .reportsList .reportHolder.iot:hover {
  background-color: #62c7f5;
}
.welcome .reportsList .reportHolder.ai:hover {
  background-color: #00efc1;
}
.welcome .reportsList p {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-weight: 700;
  font-size: 1rem;
}
.welcome .reportsList .price {
  font-weight: 800;
  margin-top: 1rem;
  font-size: 14px;
}
.reports {
  padding-top: 5rem;
  margin-top: 3rem;
}
.reports h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 900;
}
.reports h2 {
  font-size: 1.85rem;
  font-weight: 700;
  text-align: center;
}
.reports .reportItem {
  margin-top: 3rem;
}
.reports .casualText {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.reports .box {
  padding: 2rem;
}
.iotReport {
  width: 395px;
  background-color: #ebebeb;
  padding: 10px;
  margin: 0 auto;
}
.iotReport img {
  display: block;
  width: 100%;
}
.iotReport.iothover {
  background-color: #62c7f5;
}
.iotReport.aihover {
  background-color: #00efc1;
}
.iotReport.iot:hover {
  background-color: #62c7f5;
}
.iotReport.ai:hover {
  background-color: #00efc1;
}
.descriptionBlock {
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: whitesmoke;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  display: block;
}
.blueDescriptionBlock {
  margin-top: 3rem;
  border: 2px solid #62c7f5;
  text-align: center;
  display: block;
  position: relative;
  padding: 3rem;
}
.blueDescriptionBlock .blockText {
  font-size: 32px;
  font-weight: 400;
}
.blueDescriptionBlock .previewReport {
  display: inline-block;
  height: 230px;
  position: absolute;
  top: -70px;
  right: 120px;
}
.blueDescriptionBlock .close {
  position: absolute;
  right: 1px;
  top: -4px;
  padding: 0.2rem;
}
.blueDescriptionBlock .close i {
  color: black;
}
.greenDescriptionBlock {
  margin-top: 3rem;
  background-color: white;
  border: 2px solid #00efc1;
  text-align: center;
  display: block;
  position: relative;
  padding: 3rem;
}
.greenDescriptionBlock .blockText {
  font-size: 32px;
  font-weight: 400;
}
.greenDescriptionBlock .previewReport {
  display: inline-block;
  height: 230px;
  position: absolute;
  top: -70px;
  right: 120px;
}
.greenDescriptionBlock .close {
  position: absolute;
  right: 1px;
  top: -4px;
  padding: 0.2rem;
}
.greenDescriptionBlock .close i {
  color: black;
}
.box {
  text-align: left;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: white;
}
.box .title {
  font-size: 24px;
  font-weight: 900;
}
.roundBtn {
  margin-top: 1rem;
  border-radius: 3px;
  padding: 0.9rem 5rem;
  border: 0 !important;
  font-size: 20px;
  font-weight: 700;
}
.roundBtn.blue {
  background-color: #008ae0;
}
.roundBtn.blue:hover {
  background-color: rgba(0, 138, 224, 0.7) !important;
}
.roundBtn.blue.hover {
  background-color: rgba(0, 138, 224, 0.7) !important;
}
.roundBtn.green {
  background-color: #13ce89;
}
.roundBtn.green:hover {
  background-color: rgba(19, 206, 137, 0.7) !important;
}
.roundBtn.green.hover {
  background-color: rgba(19, 206, 137, 0.7) !important;
}
.roundBtn.darkgreen {
  background-color: #00a568;
}
.roundBtn.darkgreen:hover {
  background-color: rgba(0, 165, 104, 0.7) !important;
}
.roundBtn.darkgreen.hover {
  background-color: rgba(0, 165, 104, 0.7) !important;
}
.roundBtn.shadow {
  box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.15);
}
.roundBtn.large {
  padding: 1.0rem 6rem;
}
.whatsInside {
  margin-top: 3rem;
  text-align: center;
}
.whatsInside h3 {
  font-size: 3.75rem;
  font-weight: 700;
}
.whatsInside p {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: justify;
  font-size: 1rem;
}
.startupMatrix {
  margin-top: 3rem;
  background-color: black;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.startupMatrix h3 {
  font-size: 3.75rem;
  font-weight: 700;
  color: white;
}
.startupMatrix p {
  padding-left: 3rem;
  padding-right: 3rem;
  color: white;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: justify;
  font-size: 1.5rem;
}
.startupMatrix table {
  background-color: black;
  text-align: left;
}
.startupMatrix table th {
  border: 1px solid white !important;
}
.startupMatrix .table-inverse td,
.startupMatrix .table-inverse th,
.startupMatrix .table-inverse thead th {
  border-color: white !important;
}
.faq {
  margin-top: 3rem;
  text-align: center;
}
.faq .collapsing {
  -webkit-transition: height .10s ease;
  -o-transition: height .10s ease;
  transition: height .10s ease;
}
.faq h3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.faq .card {
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.faq .card.collapsed a:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 6px 5px;
  border-color: transparent transparent #373a3c transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 10px;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.faq .card-block {
  background: whitesmoke;
  border-radius: 0;
  text-align: left;
  padding: 30px;
  border: 1px solid #ccc;
  border-top: 0;
}
.faq .card-header {
  padding: 30px;
  background: white;
  border-radius: 0;
  border: 1px solid #ccc;
  text-align: left;
  text-decoration: none;
}
.faq .card-header a {
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0 50px 0 0;
  position: relative;
  font-weight: 700;
}
.faq .card-header a::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 6px 5px;
  border-color: transparent transparent #373a3c transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 10px;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.faq .card-header a:active,
.faq .card-header a:hover,
.faq .card-header a:visited,
.faq .card-header a:focus {
  text-decoration: none;
}
.topics {
  margin: 1px;
}
.topics .item {
  background-color: #ebebeb;
  border: 1px solid white;
  padding: 1rem;
  text-align: center;
  height: 150px;
}
.topics .item h4 {
  margin-top: 1rem;
  font-weight: 700;
}
.subscribe {
  margin-top: 3rem;
  text-align: center;
}
.subscribe h3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.general {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 3rem;
  text-align: left;
}
.general p {
  margin-top: 3rem;
  text-align: justify;
}
.contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
}
.contact p {
  margin-top: 3rem;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 3rem;
}
.contact #contactForm input:not([type]),
.contact #contactForm input[type=color],
.contact #contactForm input[type=date],
.contact #contactForm input[type=datetime-local],
.contact #contactForm input[type=datetime],
.contact #contactForm input[type=email],
.contact #contactForm input[type=month],
.contact #contactForm input[type=number],
.contact #contactForm input[type=password],
.contact #contactForm input[type=search],
.contact #contactForm input[type=tel],
.contact #contactForm input[type=text],
.contact #contactForm input[type=time],
.contact #contactForm input[type=url],
.contact #contactForm input[type=week],
.contact #contactForm select,
.contact #contactForm textarea {
  position: relative;
  padding: 0 16px;
  max-width: 100%;
  width: 100%;
  height: 48px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  background: #fff;
  color: #333;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.contact #contactForm textarea {
  overflow: auto;
  padding: 16px;
  min-height: 48px;
  height: auto;
  vertical-align: top;
  resize: vertical;
  resize: none;
}
.consulting {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 3rem;
  text-align: left;
}
.consulting .scope {
  margin-top: 1rem;
}
.consulting h1 {
  margin-bottom: 3rem;
}
.consulting h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.consulting p {
  text-align: justify;
}
.consulting .box {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 700;
}
.login img {
  width: 270px;
  margin: 0 auto;
  display: block;
  padding-top: 3rem;
  margin: 0 auto 30px;
  margin-bottom: 3rem;
}
.login .vertical-form {
  margin: 0 auto;
  width: 400px;
  padding: 40px;
  border-radius: 3px;
  background: white;
  border: 1px solid #ccc;
}
.login .vertical-form .form-signin-heading {
  text-align: center;
  font-weight: 300;
  color: #565656;
  margin: 0 auto 45px;
  font-size: 35px;
  line-height: 38px;
  text-transform: none;
  letter-spacing: 0;
}
.login .vertical-form input[type='text'],
.login .vertical-form input[type='email'],
.login .vertical-form input[type='password'],
.login .vertical-form input[type='number'],
.login .vertical-form input[type='submit'] {
  background: #fcfcfc;
  border: 2px solid #e7e7e7;
  margin: 20px auto;
  padding: 15px;
  width: 100%;
  display: block;
  border-radius: 3px;
  font-size: 18px;
  transition: opacity 0.4s;
  text-align: left;
  height: auto;
  -webkit-appearance: none;
}
.login .vertical-form p {
  text-align: center;
}
.login .vertical-form .forgot {
  text-decoration: none;
  border-bottom: 1px solid #bbb;
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  color: #999;
}
.login .footer {
  text-align: center;
  margin: 20px auto;
}
.login .footer a {
  font-weight: 600;
  color: #373a3c;
  text-decoration: underline;
  border: 0;
  padding: 0;
}
