@green: #00EFC1;
@dark-green: rgb(19, 206, 137);
@bold: 700;
@ultrabold: 900;
@grey: #EBEBEB;
@blue: #008AE0;
@lightblue: #62C7F5;

body {
	font-family: 'Lato', sans-serif;
}

.container {
	max-width: 1224px;
	// box-shadow: 0px -1px 1px 0px rgba(204,204,204,0.5);
}

.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #ccc;
    text-transform: uppercase;

    .rightNav {
    	padding-top: 1rem;
	
	    a {
	    	font-weight: 500;
	    	font-size: 16px;
		    color: black;
		    text-transform: none;

		    &.active {
		    	background-color: transparent !important;
		    	color: @green !important;
		    }

		    &:hover {
		    	text-decoration: underline;
		    }

		    &:last-child {
		    	padding-right: 0;
		    }
	    }
    }

}

.logo {
	padding-top: 1rem;
	img {
		width: 100px;
	}
}

@import 'welcome.less';
@import 'descriptionBlocks.less';
@import 'button.less';
@import 'reports.less';
@import 'sections.less';
@import 'login.less';