.reports {
    padding-top: 5rem;
    margin-top: 3rem;

	h1 {
		text-align: center;
		font-size: 3.5rem;
		font-weight: @ultrabold;
	}

	h2 {
		font-size: 1.85rem;
		font-weight: @bold;
	}

	.reportItem {
	    margin-top: 3rem;
	}
}

.iotReport {
	width: 395px;
	background-color: @grey;
	padding: 10px;
	margin: 0 auto;

	img {
		display: block;
		width: 100%;
	}

	&.iothover {
		background-color: @lightblue;
	}

	&.aihover {
		background-color: @green;
	}

	&.iot:hover {
		background-color: @lightblue;
	}

	&.ai:hover {
		background-color: @green;
	}


}
