.whatsInside {
	margin-top: 3rem;
	text-align: center;

	h3 {
		font-size: 3.75rem;
	    font-weight: @bold;
	}

	p {
		margin-top: 3rem;
		text-align: justify;
		font-size: 1.5rem;
	}
}

.startupMatrix {
	margin-top: 3rem;
	background-color: black;
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-align: center;

	h3 {
		font-size: 3.75rem;
	    font-weight: @bold;
	    color: white;
	}

	p {
		padding-left: 3rem;
		padding-right: 3rem;
		color: white;
		margin-top: 3rem;
		margin-bottom: 3rem;
		text-align: justify;
		font-size: 1.5rem;
	}

	table {
		background-color: black;
		text-align: left;

		th {
			border: 1px solid white !important;
		}

	}

	.table-inverse td, .table-inverse th, .table-inverse thead th {
		border-color: white !important;
	}

}