.welcome {
	margin-top: 3rem;
	text-align: center;

	h1 {
		font-size: 3.5rem;
		font-weight: @ultrabold;
	}

	h2 {
		font-size: 1.85rem;
		font-weight: @bold;
	}

	.reportContainer {
		width: 960px;
		margin: 0 auto;
	}

	.reports {
		margin-top: 3rem;

		.reportHolder {
			width: 350px;
			background-color: @grey;
			padding: 10px;
			margin: 0 auto;

			img {
				display: block;
				width: 100%;
				max-height: 472px;
			}

			&.iothover {
				background-color: @lightblue;
			}

			&.aihover {
				background-color: @green;
			}

			&.iot:hover {
				background-color: @lightblue;
			}

			&.ai:hover {
				background-color: @green;
			}


		}

		p {
			margin-top: 1rem;
			margin-bottom: 0rem;
			font-weight: @bold;
			font-size: 1rem;
		}

		.price {
			// text-transform: uppercase;
			// font-style: italic;
			font-weight: 800;
			margin-top: 1rem;
			font-size: 14px;
		}
	}
}